@font-face {
  font-family: bubble;
  src: url(../font/No.98-ShangShouQuPaoShouXieTi-2.ttf);
}
body {
  font-family: bubble;
  font-size: 25rem;
  position: relative;
  background: url('../img/bg.jpg') repeat repeat;
	background-size: contain;
}
h1 {
  color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
	font-size: 30rem;
}
.swiper-container,
.swiper-wrapper,
.swiper-slide {
	width: 100%;
	height: 100%;
}
#live2d-widget{
  display: none;
}
@keyframes down {
  from {
    bottom: 55rem;
    transform: translateX(-50%) scale(1);
  }
  to {
    bottom: 30rem;
    transform: translateX(-50%) scale(1.3);
  }
}
.down {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 60rem;
  animation: down 1s ease-in-out infinite alternate-reverse;
}

.title {
  padding: 30rem;
}

